<div class="slide-menu" id="slide-menu">
    <ul id="menu">
      <li>Home</li>
      <li>Portfolio</li>
      <li>Github</li>
      <li>Resume</li>
    </ul>
  </div>
  <svg class="hamburger">
    <defs>
      <clipPath id="clipPath">
          <circle cx="60" cy="49" r="29" />
      </clipPath>
    </defs>
    
    <g id="hamburger" style="clip-path: url(#clipPath);">
      <rect id="bck" x="0" y="5" width="190" height="90"
            style="stroke: none; fill:#FF7E7E;"/>
  
      <rect id="rect1" x="-5" y="32" width="60" height="8"
            style="fill: #FFF9ED;" />
      <rect id="rect2" x="2" y="45" width="70" height="8"
            style="fill: #FFF9ED;" />
      <rect id="rect3" x="-5" y="58" width="60" height="8"
            style="fill: #FFF9ED;" />
      
    </g>    
  </svg>

  <svg class="btm-left" overflow="visible">
        <g id="btm-left">
          <rect id="rect4" x="-200" y="50" width="1000" height="5"
                style="fill: #707070;" />
          <rect id="rect4" x="-200" y="70" width="1000" height="60"
                style="fill: #FF7E7E;" />
          <rect id="rect4" x="-200" y="140" width="1000" height="20"
                style="fill: #FF7E7E;" />
          <rect id="rect4" x="-200" y="170" width="1000" height="2"
                style="fill: #707070;" />
          <rect id="rect4" x="-200" y="175" width="1000" height="8"
                style="fill: #707070;" />
          <rect id="rect4" x="-200" y="205" width="1000" height="80"
                style="fill: #FF7E7E;" />
        </g>
      </svg>
      
      <svg class="tp-right" overflow="visible">
        <g id="btm-left">
          <rect id="rect5" x="-200" y="50" width="1000" height="5"
                style="fill: #707070;" />
          <rect id="rect5" x="-200" y="70" width="1000" height="60"
                style="fill: #FF7E7E;" />
          <rect id="rect5" x="-200" y="140" width="1000" height="20"
                style="fill: #FF7E7E;" />
          <rect id="rect5" x="-200" y="170" width="1000" height="2"
                style="fill: #707070;" />
          <rect id="rect5" x="-200" y="175" width="1000" height="8"
                style="fill: #707070;" />
          <rect id="rect5" x="-200" y="205" width="1000" height="80"
                style="fill: #FF7E7E;" />
        </g>
      </svg>
