<div class="slide-menu" id="slide-menu">
    <ul id="menu">
      <li routerLinkActive="active" >
          <a routerLink="/home">
            <h4>
                Home
            </h4></a>
        </li>
      <li routerLinkActive="active">
          <a routerLink="/portfolio">
            <h4>
                Portfolio
            </h4></a>
        </li>
      <li>
          <a><h4>
              Github
          </h4></a>
        </li>
      <li routerLinkActive="active">
          <a routerLink="/resume">
            <h4>
                Resume
            </h4></a>
        </li>
    </ul>
</div>
<svg class="hamburger">
    <defs>
      <clipPath id="clipPath">
          <circle cx="60" cy="49" r="29" />
      </clipPath>
    </defs>
    
    <g id="hamburger" style="clip-path: url(#clipPath);">
      <rect id="bck" x="0" y="5" width="190" height="90"
            style="stroke: none; fill:#FF7E7E;"/>
  
      <rect id="rect1" x="-5" y="32" width="60" height="8"
            style="fill: #FFF9ED;" />
      <rect id="rect2" x="2" y="45" width="70" height="8"
            style="fill: #FFF9ED;" />
      <rect id="rect3" x="-5" y="58" width="60" height="8"
            style="fill: #FFF9ED;" />     
    </g>    
</svg>


