
  .slide-menu{
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: #FF7E7E;
    position: absolute;
      }
  
  .slide-menu ul{
    margin: auto;
    top: 30%;
    position: relative;
    list-style: none;
    transform: translateX(-200px);
  }
  
  .slide-menu ul li{
    padding: 0em 1em;
    margin-left: -10px !important;
    margin: 35px 0;
  }

  .slide-menu ul li a{
      color: #FFF9ED;
      text-decoration: none;
  }
  
  .hamburger{
    position: absolute;
    cursor: pointer;
  }

  .active{
    box-shadow: -5px 0 0 0 #FFF9ED;
  }