<div class="portfolio-page">
    <div class="portfolio-box">
        <div class="portfolio-top">
            <img src="" alt="" class="portfolio-preview">
            <div class="portfolio-description">

            </div>
        </div>
        <div class="portfolio-bottom">
            <h2>Url Shortening Api Project</h2>
            <div class="tech">

            </div>
        </div>
    </div>
    <div class="slider">
        <div class="left"></div>
        <div class="ball"></div>
        <div class="right"></div>
    </div>
</div>