<div class="home">
        <svg viewBox="0 0 106.04 59.59"><defs><style>.cls-1{font-size:55px;font-family:FuturaBlaD, Futura Black D;}</style></defs>
            <text class="cls-1" transform="translate(0 45.84)">JEM</text>
        </svg>
    <h3 class="block">Justin E Miller</h3>
    <!-- <h3 class="block" >Web Developer</h3> -->
    <p class="block" >Hello this is just a few sentences to try and make a router animation.</p>
    <div class="home-nav">
            <div><h1>P</h1></div>
            <div></div>
            <div><h1>R</h1></div>
        </div>
</div>

