<div class="home">
        <svg id="jem" viewBox="0 0 106.04 44"><defs><style>.text{font-size:55px;font-family:FuturaBlaD, Futura Black D;}</style></defs>
            <text class="text" transform="translate(0 45.84)">JEM</text>
        </svg>
    <h3>Web Developer</h3>
    <!-- <h3 class="block" >Web Developer</h3> -->

    <div class="home-nav">
            <div class="home-btn" routerLink="/portfolio">
                <h1>P</h1>
                <div class="slide-out-container">
                    <span class="slide-out">Portfolio</span>    
                </div>
            </div>
            <div class="home-btn">
                <h1></h1>
                <div class="slide-out-container middle">
                    <span class="slide-out">Github</span>    
                </div>
            </div>
            <div class="home-btn" routerLink="/resume">
                <h1>R</h1>
                <div class="slide-out-container">
                    <span class="slide-out">Resume</span>    
                </div>
            </div>
        </div>
</div>

