@import 'src/scss/variables';

.home{
    margin: auto;
    text-align: center;
    top: 30%;
    position: absolute;
    width: 50%;
    transform: translateX(50%);
}

#jem{
    max-height: 4em;
}

.home-nav{
    display: flex;
    justify-content: center;
}

.home-nav div{
    background-color: $red;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 1.5em;
}

.home-nav div h1{
    font-size: 35px;
    color: $tan;
}