<svg class="tp-right" overflow="visible">

        <g id="btm-left"  >
          <rect id="topLines" x="-200" y="50" width="1000" height="5"
                style="fill: #707070;"  />
          <rect id="topLines" x="-200" y="70" width="1000" height="60"
                style="fill: #FF7E7E;" />
          <rect id="topLines" x="-200" y="140" width="1000" height="20"
                style="fill: #FF7E7E;" />
          <rect id="topLines" x="-200" y="170" width="1000" height="2"
                style="fill: #707070;" />
          <rect id="topLines" x="-200" y="175" width="1000" height="8"
                style="fill: #707070;" />
          <rect id="topLines" x="-200" y="205" width="1000" height="80"
                style="fill: #FF7E7E;" />
        </g>
</svg>

<svg class="btm-left" overflow="visible">
        <g id="btm-left">
          <rect id="bottomLines" x="-200" y="50" width="1000" height="5"
                style="fill: #707070;" />
          <rect id="bottomLines" x="-200" y="70" width="1000" height="60"
                style="fill: #FF7E7E;" />
          <rect id="bottomLines" x="-200" y="140" width="1000" height="20"
                style="fill: #FF7E7E;" />
          <rect id="bottomLines" x="-200" y="170" width="1000" height="2"
                style="fill: #707070;" />
          <rect id="bottomLines" x="-200" y="175" width="1000" height="8"
                style="fill: #707070;" />
          <rect id="bottomLines" x="-200" y="205" width="1000" height="80"
                style="fill: #FF7E7E;" />
        </g>
</svg>
